@charset "utf-8";

/*---共通設定----*/
html {
    font-size: 100%;
  }
  
  body {
    font-size: 16px;
  }
  
  img {
    max-width: 100%;
  }
  
  .wrapper {
    padding: 0 4%;
  }
  
  a {
    text-decoration: none;
  }
  
  ul,
  ol {
    list-style-type: none;
  }

/*---ヘッダー----*/

.header-box {
    display: flex;
    align-items: center;
}

.logo-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.hongochuo {
    font-size: 24px;
}

.gnav-list {
    display  : flex;
    font-size: 22px;
    margin-left: 300px;
}

.gnav-list li {
    margin: 10px;
}